.div_image {
  margin-top: 130px;
  width: 100%;
  height: auto;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(to bottom, #0d0d0d, #1a1a1a); /* dégradé sombre */
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.image_hero {
  width: 80%;
  max-width: 1200px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;

  box-shadow: 0 20px 60px rgba(255, 0, 102, 0.2),
    0 10px 30px rgba(255, 0, 102, 0.1);

  transition: transform 0.6s ease, box-shadow 0.6s ease;
  filter: brightness(1.1) contrast(1.1);
}

/* Hover avec effet de profondeur */
.image_hero:hover {
  transform: scale(1.03) rotateZ(0.3deg);
  box-shadow: 0 30px 80px rgba(255, 0, 102, 0.4),
    0 15px 40px rgba(255, 0, 102, 0.2);
}
